@use "../mixins" as *;
@use "../variables" as *;


.row.banners-row {
    .col-sm-8 {
        margin-bottom: 16px;
    }

    margin-bottom: 80px;
}

#carousel {
    .carousel-inner .item {
        border-radius: 4px;


        &>a {
            position: relative;

            .extended-banner-texts {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                max-width: 30%;

                color: $text-invertion;

                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 16px;

                .extended-banner-title {
                    font-size: remMM($font-size-h1);
                }

                .extended-banner-text {
                    margin-left: auto;
                    margin-right: auto;
                    width: 90%;

                    font-size: remMM(18);
                    font-weight: 400;
                    line-height: 1.55;
                }

                .extended-banner-link {
                    padding: 16px 24px;
                    background-color: #fff;
                    color: $text-secondary;
                    max-width: 260px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 4px;

                    font-size: remMM(20);
                    line-height: 1.6;
                    margin-top: 8px;
                }
            }
        }
    }
}

.next-to-carousel-banners {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .banner-wrapper {
        background-color: #F6F7F8;

        max-width: 460px;
        border-radius: 4px;

        &>a {
            display: flex;
            gap: 16px;

            img {
                order: 1;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        .extended-banner-texts {
            display: flex;
            flex-direction: column;
            order: 0;
            padding-left: emMM(16);
            padding-top: 16px;
            padding-bottom: 16px;
            gap: 4px;
            cursor: default;

            .extended-banner-title {
                font-weight: 600;
                color: $neutral-700;
                font-size: remMM($font-size-h4);
                line-height: 1.3;
            }
            .extended-banner-text {
                color: $neutral-400;
                font-weight: 500;
                font-size: remMM($font-size-regular);
                line-height: 1.5;

            }
            .extended-banner-link {
                margin-top: auto;
                cursor: pointer;
                padding: 12px 16px;
                background-color: $brand-primary;
                color: $text-invertion;
                text-align: center;
                border-radius: 4px;
            }

        }
    }
}


//temp
.benefitBanner {
    display: none;
}