@use "../mixins" as *;
@use "../variables" as *;

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    .site-name-wrapper {
        display: flex;

        .site-name img {
            max-width: 200px;
        }
    }

    .search {
        max-width: 526px;
        width: 100%;
        
        fieldset {
            display: flex;
            height: 52px;
        
            input[type="search"] {
                max-width: 430px;
                width: 100%;
                padding: 8px 16px;
                
                border: 1px solid $border-border-primary;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-right: none;
            }
            button[type="submit"] {
                max-width: 96px;
                width: 100%;
                font-size: 0;
                background-color: $brand-primary;

                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;

                &::before {
                    content: url("/assets/icons/stova_search.svg");
                }
            }
        }
    }

    .navigation-buttons {
        display: flex;
    
        & > a {
            padding: 8px;
            display: flex;
            align-items: center;
            gap: 8px;

            color: $text-secondary;
            font-weight: 400;
            font-size: remMM(14);

            b {
                font-weight: 400;
            }

        }
        a[data-testid="headerCart"] {
            background-color: $brand-primary;
            color: $text-invertion;
            border-radius: 4px;
        }


        .header-actions::before {
            content: url("/assets/icons/stova_user.svg");
            display: flex;
            width: 32px;
            height: 32px;
        }
        .header-contacts::before {
            content: url("/assets/icons/stova_contact.svg");
            display: flex;
            width: 32px;
            height: 32px;
        }
        a[data-testid="headerCart"]::before {
            content: url("/assets/icons/stova_cart.svg");
            display: flex;
            width: 32px;
            height: 32px;
        }

    }

}