@use '../mixins' as *;
@use '../variables' as *;

// FOOTER
.footer-bottom-wrapper {
	padding: 20px 0;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	font-size: remmm(12);

	.copyright {
		order: 1;
	}

	& > img {
		order: 2;
		margin: 0 auto;
	}

	#signature {
		order: 3;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;

		.image {
			display: block;
			max-width: 16px;
		}

		// .title {
		// 	border-right: 1px solid $color-font;
		// 	padding-right: 10px;
		// }
	}

	@media (width <= 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.footer-rows {
	display: flex;
	align-items: flex-start;
}

.custom-footer {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-grow: 1;
	gap: 20px;

	& > div {
		flex: 1 1 200px;
		position: relative;
	}

	.news-item-widget {
		time {
			display: none;
		}
	}
}

@media (width <= 767px) {
	.footer-rows {
		flex-direction: column;
	}

	.footer-bottom {
		text-align: center;

		#signature {
			align-items: center;
			justify-content: center;
		}
	}
}
