@use '../../mixins' as *;
@use '../../variables' as *;

input[type='checkbox'],
input[type='radio'] {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;

	&:disabled {
		& + label {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}

label {
	cursor: pointer;

	// font-weight: 700;
}

input[type='checkbox'] + label {
	position: relative;
	padding-left: 36px;
	display: inline-block;
	line-height: emmm(24);

	&::before {
		content: url('/assets/icons/exa_icon-checkbox.svg');
		width: 24px;
		height: 24px;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&.disabled {
		opacity: 0.5;
	}
}

input[type='checkbox']:checked + label {
	&::after {
		content: url('/assets/icons/exa_icon-checkbox-checked.svg');
		display: block;
		line-height: 0;
		width: 24px;
		height: 24px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		//background-color: $color-font;
	}
}

input[type='radio'] + label {
	padding-left: 44px;
	position: relative;
	display: inline-block;

	&::before {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);

		border: 1px solid $border-border-primary;
	}
}

input[type='radio']:checked + label {
	&::after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		position: absolute;
		left: 5px;
		top: 50%;
		transform: translateY(-50%);

		background-color: $color-primary-40;
	}
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='search'],
input[type='number'],
textarea,
select {
	width: 100%;
}

select {
	padding: 12px 16px;
	border-radius: 4px;
	border: 1px solid $border-border-primary;
	appearance: none;
	background: right 16px top 50% no-repeat url('/assets/icons/exa_icon-chevron-down.svg');

	font-size: remMM(16);
}

textarea {
	border-radius: 8px;
}

input[type='number'] {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
		margin: 0;
	}
}

.custom-footer__newsletter input[type='email'] {
	padding-left: 44px;
	background-image: url('/assets/icons/exa_icon-mail.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
	text-align: center;
}

input[type='submit'] {
	border: none;
	box-shadow: none;
	font-size: 1rem;
	align-self: flex-start;
}

.form-group {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.radio-wrapper {
	margin-bottom: 10px;
}

.required-asterisk {
	&::after {
		content: '*';
		display: inline-block;
		color: #b41111;
		margin-left: 0.3em;
	}
}

.filter-label.no-display {
	display: none;
}

body:not(.customer-page) {
	#register-form,
	#formLogin {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
		//padding: 50px 100px;
		border-radius: 5px;

		margin-bottom: 40px;

		@media (width <= 767px) {
			//padding: 30px 20px;
		}
	}
}
