@use '../mixins' as *;
@use '../variables' as *;

body.spinner-visible .overlay {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-overflow-scrolling: touch;
	transition: opacity 0.3s ease-out;
}

body.spinner-visible .overlay.invisible {
	opacity: 0;
}

body.spinner-visible .overlay {
	z-index: 1002;
}

.loader {
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	width: 65px;
	height: 65px;
	margin-top: -33px;
	margin-left: -33px;
	border-style: solid;
	border-width: 3px;
	border-radius: 50%;
	font-size: 0;
	text-indent: -9999em;
	background-clip: content-box;
	animation: load 1s infinite linear;
}

.loader.static {
	position: static;
	width: 24px;
	height: 24px;
	border-width: 3px;
	margin: 0 auto;
}

.branch-wrap .loader:not(.no-display),
.cpost-delivery-point-form .loader:not(.no-display) {
	display: inline-block;
	vertical-align: middle;
}

.overlay.visible,
.loader-overlay {
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.overlay.visible {
	position: fixed;
	z-index: 1002;
}

.loader-overlay {
	position: absolute;
	z-index: 0;
}

.loader-overlay {
	background-color: rgb(255 255 255 / 65%);
}

.loader {
	border-color: $color-accent;
	border-right-color: transparent;
	background-color: transparent;
}

.loader.accented {
	background-color: $color-accent;
}

.loader.static {
	border-color: $color-accent;
	border-right-color: transparent;
	background-color: transparent;
}

.overlay,
.loader-overlay {
	background-color: rgb(255 255 255 / 65%);
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
