@use "variables" as *;

@function emMM($size, $context: 16) {
    @return calc(($size / $context) * 1em);
}

@function remMM($size, $context: 16) {
    @return calc(($size / $context) * 1rem);
}

@mixin sr-only {
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin container {
    width: 100%;
    max-width: 1920px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 767px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}