$color-white: #ffffff;
$color-black: #000000;
$brand-primary: #CF3231;
$neutral-700: #1C2732;
$neutral-400: #435769;

$family-headings: "Outfit", sans-serif;
$family-default: "Outfit", sans-serif;

$font-size-regular: 16;
$font-size-small: 13;
$font-size-h1: 48;
$font-size-h1-mobile: 32;
$font-size-h2: 32;
$font-size-h2-mobile: 24;
$font-size-h3: 24;
$font-size-h3-mobile: 20;
$font-size-h4: 24;
$font-size-h4-mobile: 16;
$font-size-h5: 20;
$font-size-h5-mobile: 16;
$font-size-h6: 16;
$font-size-h6-mobile: 13;



$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
$columns-gap: 20px;
$columns-gap-mobile: 20px;
$sidebar-width: 267px;
$layout-gap: 32px;

$color-font: #000;
$text-primary: #002048;
$text-secondary: #262626;
$text-invertion: #fff;
$text-black: #000;
$text-brand: #262626;

$border-border-primary: #989898;
$color-primary-50: #000;